//font
$font-family: 'Plus Jakarta Sans', sans-serif;

$heading-font-size:20px;
$para-font-size:14px;
$card-title-font-size:16px;

//colors
$header-bag-color:linear-gradient(45deg, #1B13A6 49.59%, #443CDF 88.57%), #FFF;;
$header-para-color:#B6B3EB;
$header-prim-color:#FFF;
$black: #1d1c31;
$fade-white:#B6B3EB;
$white:white;
