.logos{
    // background:rgba(255, 255, 255, 0.2) ;
    background-color: #7975c7;
    &__logItems{
        display: none;

        @include tablet{
            display: flex;
            justify-content: space-between;
            padding: 24px 28px 24px 44px;

        }
        @include desktop{
            padding: 24px 256px 25px 256px;
        }
    }
}